<!DOCTYPE html>
<html ng-app="MyApp" ng-controller="GlobalController as g">
<head>
  <title>ngAutoComplete DEMO page.</title>
  <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <link href="ngAutoComplete.css" rel="stylesheet">
</head>
<body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <pre class="text-info" style="margin:10px auto">
clean-on-blur="true"
ng-model="inputOne"
nac-data="dataOne"
nac-formatter="fnFormatter"
nac-parser="fnParser"
clean-on-blur="true"
onchange="onchange"</pre>
          <div ng-auto-complete
               ng-model="inputOne"
               nac-data="dataOne"
               nac-formatter="fnFormatter"
               nac-parser="fnParser"
               clean-on-blur="true"
               name="thisistheinputname"
               onchange="onchange"></div>
          <div class="btn btn-info" ng-click="inputOne='ok one'" style="margin-top:10px">修改 inputOne</div>
          <pre class="text-warning" style="margin:10px auto">
clean-on-blur="false"
ng-model="inputOne"
nac-data="dataOne"
nac-formatter="fnFormatter"
nac-parser="fnParser"
clean-on-blur="true"
onchange="onchange"</pre>
          <div ng-auto-complete
               ng-model="inputTwo"
               nac-data="dataTwo"
               onchange="onchange"></div>
          <div class="btn btn-warning" ng-click="inputTwo='ok for input two'" style="margin-top:10px">修改 inputTwo</div>
        </div>
      </div>
    </div>
    <script src="//cdn.bootcss.com/angular.js/1.4.7/angular.min.js"></script>
    <script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="ngAutoComplete.js"></script>
    <script>
        angular.module('MyApp', ['ngAutoComplete'])
        .config(function ($sceProvider) {
          $sceProvider.enabled(false);
        })
        .controller('GlobalController', function ($scope, $timeout) {
          var STR = 'tommy is so handsome that I can\'t control myself!';
          $scope.dataOne = STR.split(' ').map(function (item) {
            return {
              id: Math.random(),
              text: item
            };
          });
          $scope.dataTwo = STR.split(' ');
          $scope.onchange = function (item) {
            console.log(item);
          };
          $scope.fnFormatter = function (item) {
            return item.text;
          };
          $scope.fnParser = function (item) {
            return item.id * 2;
          };
        });
    </script>
</body>
</html>