.nacContainer {
    position: relative !important;
}

.nacOuter {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: block;
    z-index: 10;
}

.nacInner {
    max-height: 250px;
    overflow: auto;
    background: #fff;
    border: 1px solid #eee;
    border-top: none;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}

.nacInner > div {
    padding: 10px;
    cursor: pointer;
}

.nacInner > div:hover {
    background: #fafafa;
    color: #f60;
}

.nacContainer .cp {
    cursor: pointer;
}

.nacContainer .icon-dropdown {
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-left-width: 4.5px;
    border-right-width: 4.5px;
    border-top-color: #666;
    position: absolute;
    right: 9px;
    top: 15px;
    -webkit-transition: all .5s ease-out;
    -webkit-transform-origin: 50% 25%;
}

.nacContainer .icon-dropdown.up {
    border-top-color: #ccc;
    -webkit-transform: rotate(180deg);
}
