.nacContainer {
    position: relative !important;
}

.nacOuter {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    z-index: 10;
}

.nacContainer:hover .nacOuter {
    display: block;
}

.nacInner {
    max-height: 250px;
    overflow: auto;
    background: #fff;
    border: 1px solid #eee;
    border-top: none;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}

.nacInner > div {
    padding: 10px;
    cursor: pointer;
}

.nacInner > div:hover {
    background: #fafafa;
    color: #f60;
}
