<div class="nacContainer"
     ng-mouseenter="onentercomponent()"
     ng-mouseleave="onleavecomponent()">
    <input name="{{name}}"
           ng-blur="onblur()"
           ng-model="domInput"
           ng-focus="onfocus()"
           class="form-control"
           type="{{type||'text'}}"
           placeholder="{{placeholder}}"
           ng-keydown="onkeydown($event)">
    <div class="icon-dropdown" ng-class="{up:showMore}"></div>
    <div class="nacOuter" ng-show="showMore">
        <div class="nacInner">
            <div ng-click="set(item)"
                 ng-repeat="item in filteredList track by $index"
                 ng-bind-html="formatter(item)|redKeyword:domInput"></div>
        </div>
    </div>
</div>
